<%- include("partials/header") %>
<a href="/signup" role="button">Register</a>
<form action="/login" method="post">
    <input type="email" name="username">
    <input type="password" name="password">
    <button type="submit">Login</button>
</form>
<a href="/auth/google" role="button">Signup with google</a>
<%- include("partials/footer") %> 