<%- include("partials/header") %> 
    <form action="/signup" method="post">
        <input type="email" name="username">
        <input type="password" name="password">
        <button type="submit">Signup</button>
    </form>
<%- include("partials/footer") %> 