<%- include("partials/header") %> 
    <form action="/signup" method="post">
        <input type="email" name="username">
        <input type="password" name="password">
        <button type="submit">Signup</button>
    </form>
    <a href="/auth/google" role="button">Signup with google</a>
    <a href="/auth/facebook" role="button">Signup with facebook</a>
<%- include("partials/footer") %> 